/* NAVIATION-BAR */

body {
    background-color: rgb(34, 34, 34)
}

.navbar {
    height: 80px;
    background-color: #FFC0CB;
    position: relative;
    border-bottom: none;
    padding-left: 0;
}

.navbar-container {
    top: 0;
    background-color: transparent;
    position: fixed;
    width: 100%;
    border: 1px solid rb(24, 26, 32);
    padding-right: 1.5em;
    height: 80px
}

button {
    background-color: transparent;
    border: none;
}