body {
    background-color: rgb(25,25,25)
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: rgb(231, 36, 85)
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nagivation li {
    list-style: none;
    margin-left: 20px;
}

.nagivation li a {
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(168, 30, 65);
    border-radius: 15px;
}